<!DOCTYPE HTML>
<HTML>
<head>
	<title>Add Category</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" ></script>

	<script>
		var maxId=1;
		var usedNums=[1];
		
		function addIdToUsed(id){
			id=parseInt(id);
			usedNums[id]=1;
			if (id>maxId){
				maxId=id;
				$("#maxId").val(id.toString());
			}
		}
		
		function addCat(e){
			var i=1;
			while ( usedNums[i] ){
				i++;
			}
			usedNums[i]=1;
			if (i>maxId){
				maxId=i;
				$("#maxId").val(i.toString());
			}
			$(e).before('<li><input type="text" placeholder="Category name" value="" name="Cat_' + i + '" /></li>');
		}
	</script>
	
	<style>
	body{
		background-color:#000;
	}
	.content{
		margin-right:10%;
		margin-left:10%;
		background-color:#FFF;
	}
	.collapsible{
		background-color:#CCC;
	}
	
	.collapsible h2 a{
		color:inherit;
	}
	
	.collapsible .predefined_links{
		display:initial;
	}
	.collapsible .vertical_expand_bar{
		visibility:hidden;
	}
	
	.oneCat{
		padding-bottom:2em;
	}
	.oneCat ul{
		margin:0px;
	}
	</style>
	
</head>
<body>
	<div class="content">
		<h1>Edit Category:</h1>
		
		{% csrf_token %}
		
		{% if error_message %}<p><b>{{ error_message }}</b></p>{% endif %}
		
		
		<form action="{% url 'mylinks:categoriesAddUpdate' %}" method="post" class="form">
			{% csrf_token %}
			
			<input type="hidden" value="1" id="maxId" name="maxId" />
			
			<div class="oneCat" id="{{ category.header_label }}_container">
				<h2>{{ category.header_label }}</h2>
				<ul>
					{% for category in categories %}
						<li>
							<input type="text" placeholder="Category name" value="{{category.header_label}}" name="Cat_{{category.id}}" />
							<script>
								addIdToUsed( {{category.id}} );
							</script>
						</li>
					{% endfor %}
					<li><button type="button" onclick="addCat(this);">Add category</button></li>
				</ul>
				
			</div>
			<input type="submit" value="Update" id="submission" />
		</form>
	
		
	</div>
</body>
</HTML>