<!DOCTYPE HTML>
<HTML>
<head>
	<title>Add Category</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" ></script>
	<!--
	<script>
		var maxId=1;
		//var num={{ category.link_set.count }}+1;
		var usedNums=[1];
		
		function addIdToUsed(id){
			id=parseInt(id);
			usedNums[id]=1;
			if (id>maxId){
				maxId=id;
				$("#maxId").val(id.toString());
			}
		}
		
		function addLink(e){
			var i=1;
			while ( usedNums[i] ){
				i++;
			}
			usedNums[i]=1;
			if (i>maxId){
				maxId=i;
				$("#maxId").val(i.toString());
			}
			$(e).before('<li><fieldset><input type="text" placeholder="Link" name="Link_'+ i +'" /> <input type="url" placeholder="URL" name="URL_'+i+'" /></li>');
		}
	</script>
	-->
	<style>
	body{
		background-color:#000;
	}
	.content{
		margin-right:10%;
		margin-left:10%;
		background-color:#FFF;
	}
	.collapsible{
		background-color:#CCC;
	}
	
	.collapsible h2 a{
		color:inherit;
	}
	
	.collapsible .predefined_links{
		display:initial;
	}
	.collapsible .vertical_expand_bar{
		visibility:hidden;
	}
	
	.oneCat{
		padding-bottom:2em;
	}
	.oneCat ul{
		margin:0px;
	}
	</style>
	
</head>
<body>
	<div class="content">
		<h1>Edit Category:</h1>
		
		{% csrf_token %}
		
		{% if error_message %}<p><b>{{ error_message }}</b></p>{% endif %}
		
		
		<form action="{% url 'mylinks:categoriesAddUpdateNum' category.id %}" method="post" class="form">
			{% csrf_token %}
			<!--
			<input type="hidden" value="1" id="maxId" name="maxId" />
			
			<div class="oneCat" id="{{ category.header_label }}_container">
				<input type="text" value="{{ category.header_label }}" placeholder="Category" name="Header" />
				<ul>
					{% for link in category.link_set.all %}
						<li>
						<fieldset>
							<input type="text" placeholder="Link" value="{{link.link_label}}" name="Link_{{link.id}}" />
							<input type="url" placeholder="URL" value="{{ link.link_url }}" name="URL_{{link.id}}" />
							<script>
								addIdToUsed( {{link.id}} );
							</script>
						</fieldset>
						</li>
					{% endfor %}
					<li><button type="button" onclick="addLink(this);">Add link</button></li>
				</ul>
				
			</div>
			-->
			<input type="submit" value="Update" id="submission" />
		</form>
	
		
	</div>
</body>
</HTML>